.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rproj
# Cache y temporales
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
# Salidas generadas
*.html
*.nb.html
*.utf8.md
*.knit.md
*.RDataTmp
Tarea-mod8_files
rsconnect
flexdash.Rproj